.bodyPage {
    background-color: #262626;
    color: limegreen;
}

.form-actions {
    background-color: #474545; 
    border-color: limegreen;  
}

.greenHeader {
    border-bottom-style: groove;
    border-color: limegreen;
    border-width: 1px;
    padding: 3px;
}